
h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 2.5vw, 4rem)
}

html {
    background-color: #E0D1FA;
}

header, footer {
    background: #aa80f3;
    color:#fff;
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 300ch;
    width: 90%;
    margin: 0 auto;
}


#Clown {
    font-family: Arial, Helvetica, sans-serif;
}

#Bibel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

@media screen and (min-width: 2560px) {
  .wrapper {
    max-width: 130ch;
  }

  h1 {
    font-size: 4rem;
  }
}