
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #E0D1FA;
}

header {
    background: #aa80f3;
    color:#fff;
    padding: 5px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 675px;
    width: 100%;
    margin: 0 auto;
}

footer {
    background: #aa80f3;
    color:#fff;
    padding: 20px;
    text-align: center;
}

#Clown {
    font-family: Arial, Helvetica, sans-serif;
}